.qr-scanner {
    height: calc(100vh - 131px);
    ::v-deep .qrcode-reader {
        overflow: hidden;
        &__overlay {
            &::after {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: translateY(-100%);
                background-image: linear-gradient(
                  90deg,
                  rgba(#4767c500, 0) 0,
                  rgba(#4767c500, 0.2) 20%,
                  rgba(#4767c500, 0.5) 60%,
                  rgba(#4767c500, 0)
                );
                animation: shimmer 2s infinite;
                content: '';
              }
        }
    }
    
    @keyframes shimmer {
        100% {
          transform: translateY(100%);
        }
      }
}